<html >
<Head>
<title>Resource</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="css/app/appGlobal.css">
<link rel="stylesheet" type="text/css" href="css/lib/bootstrap.min.css">
</Head>
<body ng-app="homeApp">
	<div class="container">
		<div ng-include src="'partials/header'"></div>
	<div ng-include src="'partials/login'"></div>
 	<div ng-view></div>
 	</div>
</body>



<!--lib  -->
<script type="text/javascript" src="js/lib/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="js/lib/angular.min.js"></script>
<script type="text/javascript" src="js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="js/lib/angular-route.min.js"></script>
<script type="text/javascript" src="js/lib/angular-route.js"></script>
<script type="text/javascript" src="js/lib/angular.js"></script>
<!--app -->
<script type="text/javascript" src="js/app/app.js"></script>

</html>