.Header{
		border:1px solid #A52A2A;
		Background-color:#8DA793;
}
.Header img{
	height:100px;
	width:130px;
}

.navigation ul li{
	display:inline;
	padding:20px;
}

.box1{
	border:1px solid #A52A2A;
}

#signup{
	height:30px;
	width:80px;
}
#botton{
	height:30px;
	width:80px;
}